/* common ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 1.1rem;
}

h1, h2, h3 {
    font-weight: normal;
    color: blue;
    color: green;
}

h3 {
    font-size: 1.4rem;
    margin-top: 0.3em;
}

h4 {
    margin-top: 0.2em;
    font-style: italic;
    font-weight: bolder;
}

a, a:visited {
    text-decoration: none;
    /* color: green;
    color: #007bda; */
    color: #0055ff;
}

a:hover {
    text-decoration: underline;
}

.print-only {
    display: none;
}

.aux {
    color: #919090;
}

.vert-sp-1 {
    height: 1rem;
}

/* page ----------------- */
body {
    padding: 0.5rem;
    max-width: 1000px;
    margin: auto;
}

header {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.abs-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* print --------------------- */
@media print {
    .print-only {
        display: block;
    }
}