/* common ----------------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Ubuntu", "Inter", sans-serif;
    font-size: 1.1rem;
}

h1, h2, h3 {
    font-weight: normal;
    color: green;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.3rem;
    margin-top: 0.3em;
}

h4 {
    font-size: 1rem;
    margin-top: 0.2em;
    font-style: italic;
    font-weight: 500;
}

a, a:visited {
    text-decoration: none;
    /* color: green;
    color: #007bda; */
    color: #0055ff;
}

a:hover {
    text-decoration: underline;
}

.print-only {
    display: none;
}

ul.no-mark {
    list-style-type: none;
}

.aux {
    color: #919090;
}

.ind-1 {
    padding-left: 1em;
}

.vert-sp-1 {
    height: 1rem;
}

.vert-sp-3 {
    height: 3rem;
}

.text-right {
    text-align: right;
}

/* page ----------------- */
body {
    padding: 0.5rem;
    max-width: 1000px;
    margin: auto;
}

header {
    position: relative;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

main hr {
    margin-top: 0.5rem;
}

.exp-list {
    margin-left: 1.5em;
}

.abs-right-bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

#print {
    display: block;
    margin: auto;
    padding: 0.2em 1em;
    font: inherit;
}

/* print --------------------- */
@media print {
    html {
        font-size: 11pt;
    }
    .print-only {
        display: block;
    }

    .no-print {
        display: none !important;
    }
}

/* small display ------------- */
@media screen and (max-width: 800px) {
    header {
        display: block;
    }

    .contacts {
        /* margin-top: 0.5em; */
        margin: 0.5em 0 0 0.5em;
        /* float: right; */
    }
}